* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-auto-rows: auto auto auto;
    grid-template-areas: 
        "header header header header header" 
        "main main main main main" 
        "footer footer footer footer footer";
    background-color: #fffaf0;

}

.el {
    width: auto;
    min-height: auto;
    display: grid;
    place-content: center;
}

nav {
    display: grid;
    grid-column: 2 / 5;
    justify-content: flex-start;
    width: 100%;
}

ul {
	list-style-type: none;
	text-align: left;
}

li {
	margin: 0 0 1rem 0;
}


/* FIXME: make the line full width in main*/
.line {
    width: 100%;
    border-bottom: 3px solid #333;
    margin: 0;
}

/**-------------------------Header-------------------------**/
.header {
    grid-area: header;
}

/**------------------------------------------------------**/

/**-------------------------main-------------------------**/

.main {
    grid-area: main;
    display: grid;
    grid-column: 2 / 5;
    margin-bottom: 5%;
}
/**------------------------------------------------------**/

/**-------------------------Footer-------------------------**/
.footer {
    grid-area: footer;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #a3a2a2;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
}

.footer_text {
	max-width: 600px;
    text-align: left;
    padding: 10px;
}
/**------------------------------------------------------**/

/**-------------------------Text-------------------------**/
.text {
	color: rgb(70, 117, 117);
}

h1 {
    color: rgb(70, 117, 117);
}
h5 {
	color: rgb(172, 171, 171);
    text-align: center;
}


/**------------------------------------------------------**/

/**-------------------------Links-------------------------**/
a {
	text-decoration: none;
	color: #333;
	padding: 3px;
}

nav a:hover {
	color: rgb(70, 117, 117);
	font-size: 21px;
	transition-duration: 0.4s, 1s;
}

footer a:hover {
	color: rgb(70, 117, 117);
	border-bottom: 1px solid #3333335b;
}
/**------------------------------------------------------**/